<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <div class="alert alert-danger text-start" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>An error has occured.</p>
            <hr>
            <p>@ViewData["exceptionMessage"]</p>
            <a class="btn btn-link p-0" asp-action="Index" role="button">Back to home</a>
        </div>
        
    </div>
</div>